.new-feedback {
    min-height: 100vh;
    background-color: var(--white-3);
}

.new-feedback__back {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 3rem;
}

.new-feedback__back:hover {
    cursor: pointer;
}

.new-feedback__form-wrapper {
    background-color: var(--white-1);
    position: relative;
    border-radius: 10px;
}

.new-feedback__form-wrapper__img {
    position: absolute;
    top: 0;
    left: 2rem;
    transform: translateY(-50%);
}

.new-feedback__form__category {
    position: relative;
}

.new-feedback__form__category__dropdown {
    border-radius: 15px;
    position: absolute;
    width: 100%;
}

.new-feedback__form__category__dropdown li {
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.new-feedback__form__category__dropdown li:not(:last-child) {
    border-bottom: 1px solid var(--grey);
}

.new-feedback__form__category__select {
    background-color: var(--white-3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.new-feedback__form__buttons {
    display: flex;
    flex-direction: column;
}

.new-feedback__back,
.new-feedback__form__form-header,
.new-feedback__form__title__header,
.new-feedback__form__detail__header,
.new-feedback__form__category__header {
    font-weight: bold;
}


@media screen and (min-width: 375px) {
    .new-feedback {
        padding: 3rem 1.5rem 0rem 1.5rem;
    }

    .new-feedback__form-wrapper {
        padding: 3.5rem 1.5rem 0rem 1.55rem;
    }

    .new-feedback__form__form-header {
        margin-bottom: 2rem;
    }

    .new-feedback__form__category__select {
        padding: 1rem;
    }

    .new-feedback__form__category__dropdown {
        top: 8rem;
    }

    .new-feedback__form__title,
    .new-feedback__form__category,
    .new-feedback__form__detail {
        margin-bottom: 1.5rem;
    }

    .new-feedback__form__title__header,
    .new-feedback__form__detail__header,
    .new-feedback__form__category__header {
        margin-bottom: 0.5rem;
    }

    .new-feedback__form__title__sub,
    .new-feedback__form__detail__sub,
    .new-feedback__form__category__sub {
        margin-bottom: 1.25rem;
    }
}